body {
	background-color:black;
	font-size:1.9em;
	color: white;

}

.navbar  {
	border: 0;
	background-color: black;
	opacity: 0.9;
}

#welcome_page_logo {
	padding-top: 5%;
}

#welcome_page_logo_thumbnail {
	border: 0;
	border-radius: 0;
	box-shadow: 0;
	background-color: black;
}

.navbar-nav li {
	margin-left:2em;
	margin-right:0.8em;
}

.dropdown-menu {
	background-color: black;
	color: white;
}

.dropdown-menu li {
	color: white;
	font-size: 1.2em;
}

p {
	word-wrap: break-word;
}